<form action="addclient" method="post">
    <input type="text" placeholder="nombre" name="nombre">
    <input type="text" placeholder="apellido" name="apellido">
    <input type="text" placeholder="rut" name="rut">
    <input type="text" placeholder="email" name="email">
    <button type="submit">add</button>
</form>